/* styles.css */

/***** list *****/
.sortable-list {
  padding-left: 20px; /* リストアイテムの左側にスペースを追加して番号が見えるようにする */
  list-style-position: outside; /* 番号をアイテムの外側に表示 */
}

ol.sortable-list {
  list-style-type: decimal; /* 10進数の番号付け */
}

.list-title {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 8px;
  margin-top: 10px;
  list-style-type: none;
}

.draggable {
  padding: 6px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 5px;
  cursor: grab;
}

.draggable.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

/***** グラフ *****/
.bar-container {
    width: 100%;
    background-color: #f0f0f0;
    text-align: left;
    color: white;
    margin: 5px 0;
}

.bar {
    height: 20px;
    padding-right: 5px;
    line-height: 20px; /* 中央揃え */
}

.bar-segment {
    white-space: nowrap;      /* テキストを折り返さない */
    overflow: hidden;         /* オーバーフローするテキストを隠す */
    text-overflow: ellipsis;  /* オーバーフロー時に省略記号を表示 */
    display: inline-block;
    height: 100%;
}

/***** 左右分割パネル *****/
.container {
  display: flex;
  height: 100vh; /* 画面の高さに合わせる */
}

.left-panel {
  flex: 1;
  padding: 10px;
  overflow-y: auto; /* 内容が多い時にスクロールバーを表示 */
}

.right-panel {
  flex: 2;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto; /* 内容が多い時にスクロールバーを表示 */
}
